{# ################################### IOS/IOS-XE ################################## #}
{% if 'ios' in os_type |string %}

{# ########### END of validations ########## #}

{# #################################### NXOS ################################### #}
{% elif 'nxos' in os_type |string %}

{% if feature == 'acl' %}
{% for each_acl in input_vars %}
- show access-lists {{ each_acl.name }}:
    {{ each_acl.name }}:
      _mode: strict
{% set seq = namespace(cnt=10) %}
{% for each_ace in each_acl.ace %}{% if each_ace.keys() | list | first != 'remark' %}
      '{{ seq.cnt }}':
        action: {{ each_ace.keys() | list | first }}
        protocol: ip
        src: {{ each_ace.values() | list | first }}
        dst: any
{% endif %}
{% set seq.cnt = seq.cnt + 10 %}
{% endfor %}{% endfor %}

{# ########### END of validations ########## #}
{% endif %}


{# #################################### ASA ################################### #}
{% elif 'asa' in os_type |string %}



{# ############################ END of devices ################################# #}
{% endif %}