{# {% if feature == 'ospf' %}
- show ip ospf neighbor:
    _mode: strict
{% for each_nbr in input_vars.nbrs %}
    {{ each_nbr }}:
      state: FULL
{% endfor %}
{% endif %} #}

{% if feature == 'acl' %}
{% for each_acl in input_vars %}
- show ip access-lists {{ each_acl.name }}:
    {{ each_acl.name }}:
      _mode: strict
{% set seq = namespace(cnt=10) %}
{% for each_ace in each_acl.ace %}{% if each_ace.keys() | list | first != 'remark' %}
      '{{ seq.cnt }}':
        action: {{ each_ace.keys() | list | first }}
        protocol: ip
        src: {{ each_ace.values() | list | first }}
        dst: any
{% set seq.cnt = seq.cnt + 10 %}
{% endif %}{% endfor %}
{% endfor %}
{% endif %}