{# ####### Set commands on a per-OS basis ####### #}
{% if 'ios' in os_type |string %}
{% set vlan_cmd = "show vlan brief" %}
{% set stp_cmd = "show spanning-tree" %}
{% set mac_table_all_cmd = "show mac address-table dynamic | count dynamic|DYNAMIC" %}
{% set mac_table_cmd = "show mac address-table count Vlan | in Dynamic|Vlan" %}
{% elif 'nxos' in os_type |string %}
{% set vlan_cmd = "show vlan brief" %}
{% set mac_table_all_cmd = "show mac address-table count dynamic" %}
{% set mac_table_cmd = "show mac  address-table static vlan | last 1" %}
{% elif 'asa' in os_type |string %}
{% elif 'wlc' in os_type |string %}
{% endif %}


{#!!! added for val file builder ##### For the validation file builder ##### #}
{% if sub_features.__class__.__name__ == 'list' %}
- {{ feature }}:
{% for sub_feat in sub_features %}
{% if sub_feat == 'vlan' %}
    vlan: 
      {{ vlan_cmd }}: VAL
{% elif sub_feat == 'stp_vlan' %}
    stp_vlan: 
      {{ stp_cmd }}: VAL
{% elif sub_feat == 'ip_brief' %}
    ip_brief: 
      {{ ip_brief_cmd }}: VAL
{% elif sub_feat == 'mac_table' %}
    mac_table:
      {{ mac_table_all_cmd }}: VAL
      {{ mac_table_cmd }}: VAL
{% endif %}{% endfor %}
{% else %}


{# ##### Build feature template ##### #}
- {{ feature }}:
{% for sub_feat, input_vars in sub_features.items() %}
{# ### VLAN: {cmd: {vlan: {name: x, intf:[x,y]}} ### #}
{% if sub_feat == 'vlan' %}
    vlan: 
      {{ vlan_cmd }}: 
{% for each_vl, each_vl_info in input_vars.items() %}
        {{ each_vl }}:
          name: {{ each_vl_info.name }}
          intf:
            _mode: strict
            list: {{ each_vl_info.intf }}
{% endfor %}
{# ### STP: {cmd: {vlan: intf:[x,y]} ### #}
{% elif sub_feat == 'stp_vlan' %}
    stp_vlan: 
      {{ stp_cmd }}: 
{% for each_vl in input_vars %}
        {{ each_vl.vlan }}: 
{% for each_intf in each_vl.intf %}
          _mode: strict
          {{ each_intf }}: FWD
{% endfor %}{% endfor %}
{# ### MAC TABLE COUNT: {cmd:  {total_mac_count: x, vlxxx_mac_count: x} ### #}
{% elif sub_feat == 'mac_table' %}
    mac_table:
{% for mac_info, num_mac in input_vars.items() %}
{% set vl = mac_info.split('_') | first | replace("vl","") %}
{% if mac_info == "total_mac_count" %}
      {{ mac_table_all_cmd }}:
        {{ mac_info }}: {{ num_mac }}
{% elif 'nxos' in os_type |string %}
      {{ mac_table_cmd.split("lan ") | first }}lan {{ vl }} {{ mac_table_cmd.split("lan ") | last }}:
        {{ mac_info }}: {{ num_mac }}  
      {{ mac_table_all_cmd }} vlan {{ vl }}:
        {{ mac_info }}: {{ num_mac }}
{% else %}
      {{ mac_table_cmd.split("lan ") | first }}lan {{ vl }} {{ mac_table_cmd.split("lan ") | last }}:
        {{ mac_info }}: {{ num_mac }}
{% endif %}
{% endfor %}

{# ##### End statements: for sub_feature and sub_feature conditional  ##### #}
{% endif %}{% endfor %}

{% endif %}
