{# ####### CMD: Set command variables on a per-os_type basis ####### #}
{% if 'ios' in os_type |string %}
{% elif 'nxos' in os_type |string %}
{% elif 'asa' in os_type |string %}
{% set conn_count_cmd = "show conn all | count flags" %}
{% elif 'wlc' in os_type |string %}
{% elif 'panos' in os_type |string %}
{% set conn_count_cmd = "show session meter | except --" %}
{% endif %}


{# ##### VAL_CMDS/DESIRED_STATE: Build a dict of validation commands or desired state of each sub-feature ##### #}
- {{ feature }}:
{% set generate_val_file = sub_features.__class__.__name__ == 'list' %}
{% set desired_state = sub_features.__class__.__name__ == 'dict' %}
{% for sub_feat in (sub_features if generate_val_file else sub_features.items()) %}
{% set input_vars = None if generate_val_file else sub_feat[1] %}
{% set sub_feat = sub_feat if generate_val_file else sub_feat[0] %}

{# ### FW_CONN_COUNT: {cmd: xx} ### #}
{% if sub_feat == 'conn_count' and conn_count_cmd is defined %}
    conn_count:
      {{ conn_count_cmd }}: 
{% if generate_val_file %}
        VALIDATE
{% elif desired_state %}
        {{ input_vars }}
{% endif %}

{# ##### End statements: for sub_feature and sub_feature conditional  ##### #}
{% endif %}{% endfor %}
