{# ####### Set commands on a per-OS basis ####### #}
{% if 'ios' in os_type |string %}
{% set ha_state_cmd = "show redundancy" %}
{% set sw_stack_cmd = "show switch detail" %}
{% elif 'nxos' in os_type |string %}
{% elif 'asa' in os_type |string %}
{% set ha_state_cmd = "show failover" %}
{% elif 'wlc' in os_type |string %}
{% set ha_state_cmd = "show redundancy summary" %}
{% endif %}

{# ##### Build feature template ##### #}
- {{ feature }}:
{% for sub_feat, input_vars in sub_features.items() %}
{# ### HA_STATE: {local_state: ACTIVE, peer_state: STANDBY HOT} ### #}
{% if sub_feat == 'ha_state' %}
    ha_state:
      {{ ha_state_cmd }}:
        local_state: {{ input_vars.local }}
        peer_state: {{ input_vars.peer }}
{# ### SWI_STACK: {sw_num: {priority: x, role: x, state: Ready}} ### #}
{% elif sub_feat == 'sw_stack' %}
    sw_stack:
      {{ sw_stack_cmd }}:
        _mode: strict
{% for each_swi in input_vars %}
        {{ each_swi.sw_number }}:
          priority: {{ each_swi.priority }}
          role: {{ each_swi.role }}
          state: Ready
{% endfor %}
{# ##### End statements: for sub_feature and sub_feature conditional  ##### #}
{% endif %}{% endfor %}
