{# ####### CMD: Set command variables on a per-os_type basis ####### #}
{% if 'ios' in os_type |string %}
{% set new_subfeat1_cmd = "show x" %}
{% elif 'nxos' in os_type |string %}
{% set new_subfeat2_cmd = "show y" %}
{% elif 'asa' in os_type |string %}
{% elif 'wlc' in os_type |string %}
{% elif 'panos' in os_type |string %}
{% elif 'viptela' in os_type |string %}
{% endif %}


{# ##### VAL_CMDS/DESIRED_STATE: Build a dict of validation commands or desired state of each sub-feature ##### #}
- {{ feature }}:
{% set generate_val_file = sub_features.__class__.__name__ == 'list' %}
{% set desired_state = sub_features.__class__.__name__ == 'dict' %}
{% for sub_feat in (sub_features if generate_val_file else sub_features.items()) %}
{% set input_vars = None if generate_val_file else sub_feat[1] %}
{% set sub_feat = sub_feat if generate_val_file else sub_feat[0] %}

{# ### SUB_FEATURE1_NAME: {cmd: {version: xx}} ### #}
{% if sub_feat == 'new_subfeat1' and new_subfeat1_cmd is defined %}
    new_subfeat1:
      {{ new_subfeat1_cmd }}:
{% if generate_val_file %}
        VALIDATE
{% elif desired_state %}
        {{ input_vars }}
{% endif %}
{# ### SUB_FEATURE2_NAME: {cmd: {xxx: {y: y, z: xxx}}} ### #}
{% elif sub_feat == 'new_subfeat2' and new_subfeat2_cmd is defined %}
    new_subfeat2:
      {{ new_subfeat2_cmd }}:
{% if generate_val_file %}
        VALIDATE
{% elif desired_state %}
{% for each_item in input_vars %}
        {{ each_item.xxx }}:
          y: {{ each_item.y }}
          z: {{ z | default('ok') }}
{% endfor %}{% endif %}

{# ##### End statements: for sub_feature and sub_feature conditional  ##### #}
{% endif %}{% endfor %}
