{# ################################### IOS/IOS-XE ################################## #}
{% if 'ios' in os_type |string %}
{# ########### IMAGE: show version - {image: code_number} ########## #}








{# ########### show authentication sessions | count [mab or dot1x] - {auth_mab: x or auth_dot1x: x} ########## #}
{% elif feature == 'auth_session' %}
- show authentication sessions | count mab:
    auth_mab: {{ input_vars.total_mab }}
- show authentication sessions | count dot1x:
    auth_dot1x: {{ input_vars.total_dot1x }}




{# ########### show nve vni - {l3vni: {bdi: x, vrf: z, state: UP}} ########## #}
{% elif feature == 'nve_vni' %}
- show nve vni:
    _mode: strict
{% for each_vni, vni_info in input_vars.items() %}
    {{ each_vni }}:
      bdi: {{ vni_info.bdi }}
      vrf: {{ vni_info.vrf }}
      state: Up
{% endfor %}
{# ########### show nve peers - {ls_vni: {peer: ip, state: Up}} ########## #}
{% elif feature == 'nve_peers' %}
- show nve peers:
    _mode: strict
{% for each_vni, vni_info in input_vars.items() %}
    {{ each_vni }}:
      peer: {{ vni_info.peer }}
      state: UP
{% endfor %}
{# ########### show crypto session brief - {vpn_peer: {intf: x, status: UA}} ########## #}
{% elif feature == 'vpn' %}
- show crypto session brief:
    _mode: strict
{% for each_vpn in input_vars %}
    {{ each_vpn.peer }}:
      intf: {{ each_vpn.intf }}
      status: UA
{% endfor %}

{# ########### END of validations ########## #}
{% endif %}

{# #################################### NXOS ################################### #}
{% elif 'nxos' in os_type |string %}

{# ########### Desired state of ACLs ########## #}
{% if feature == 'acl' %}
{% for each_acl in input_vars %}
- show access-lists {{ each_acl.name }}:
    {{ each_acl.name }}:
      _mode: strict
{% set seq = namespace(cnt=10) %}
{% for each_ace in each_acl.ace %}{% if each_ace.keys() | list | first != 'remark' %}
      '{{ seq.cnt }}':
        action: {{ each_ace.keys() | list | first }}
        protocol: ip
        src: {{ each_ace.values() | list | first }}
        dst: any
{% endif %}
{% set seq.cnt = seq.cnt + 10 %}
{% endfor %}{% endfor %}

{# ########### END of validations ########## #}
{% endif %}


{# #################################### ASA ################################### #}
{% elif 'asa' in os_type |string %}

{% if feature == 'acl' %}
{% macro build_val_acl(each_acl) -%}
{% set seq = namespace(cnt=10) %}
{% for each_ace in each_acl %}{% if each_ace.keys() | list | first != 'remark' %}
      '{{ seq.cnt }}':
        src: {{ each_ace.values() | list | first }}
        intf: mgmt
{% set seq.cnt = seq.cnt + 10 %}
{% endif %}{% endfor %}
{%- endmacro -%}

{% for each_acl in input_vars %}
{% if 'ssh' in each_acl.name |string |lower %}
- show run ssh:
    SSH:
      _mode: strict
{{ build_val_acl(each_acl.ace) }}
- show run http:
    HTTP:
      _mode: strict
{{ build_val_acl(each_acl.ace) }}
{% endif %}{% endfor %}

{# ########### END of validations ########## #}
{% endif %}



{# ############################ END of devices ################################# #}
{% endif %}